# Local .terraform directories
**/.terraform/*

**/.terragrunt-cache/*
# .tfstate files
*.tfstate
*.tfstate.*

# Ignore CLI configuration files
.terraformrc
terraform.rc

.terraform.lock.hcl
# 
terraform-key.pem

.terraform.lock.hcl